<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Build CRUD DataGrid with jQuery EasyUI - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/include/easyui.1.4.3/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/include/easyui.1.4.3/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/include/easyui.1.4.3/themes/color.css">
	<script type="text/javascript" src="__PUBLIC__/include/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/include/easyui.1.4.3/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/include/easyui.1.4.3/jquery.edatagrid.js"></script>
</head>
<style type="text/css">
	body{
		margin:0px;
	}
</style>
<body>
    <div id="dlg" class="easyui-dialog" title="新增場次" closed="true" style="width:450px;height:400px;padding:10px;"
		data-options="
			buttons: [{
				text:'確定',
				iconCls:'icon-ok',
				handler:function(){
					append();
					$('#dlg').dialog('close');
				}
			},{
				text:'取消',
				iconCls:'icon-cancel',
				handler:function(){
					$('#dlg').dialog('close');
				}
			}]
		">
		<div style="padding:10px 30px 20px 30px">
		<form id="sessionform" method="post">
			<table cellpadding="5">
				<tr>
					<td>電影院</td>
					<td><input class="easyui-textbox" type="text" name="theater_name" data-options="required:true" style="width:250px;"></input></td>
				</tr>
				<tr>
					<td>電影名稱</td>
					<td><input class="easyui-textbox" type="text" name="movie_name" style="width:250px;"></input></td>
				</tr>
				<tr>
					<td>場次時間</td>
					<td><input class="easyui-textbox" type="text" name="time" data-options="required:true" style="width:250px;"></input></td>
				</tr>
				<tr>
					<td>電影院流水號</td>
					<td><input class="easyui-textbox" name="t_id" data-options="required:true" style="width:250px;"></input></td>
				</tr>
				<tr>
					<td>電影流水號</td>
					<td><input class="easyui-textbox" name="mo_id" data-options="required:true" style="width:250px;"></input></td>
				</tr>
				<tr>
	    			<td>日期</td>
	    			<td><input class="easyui-datebox" type="text" id="date" name="date" data-options="required:true" style="width:250px;"></input></td>
	    		</tr>
			</table>
		</form>
		</div>
	</div>
	<div id="edit_dialog" class="easyui-dialog" title="編輯場次" closed="true" style="width:450px;height:400px;padding:10px;left:304px;"
		buttons="#adduser_button">
		<div style="padding:10px 30px 20px 30px">
			<form id="form_edit" method="post" enctype="multipart/form-data">
				<table cellpadding="5">
					<tr>
						<td>電影院</td>
						<td><input class="easyui-textbox" type="text" name="theater_name" data-options="required:true" style="width:250px;"></input></td>
					</tr>
					<tr>
						<td>電影名稱</td>
						<td><input class="easyui-textbox" type="text" name="movie_name" style="width:250px;"></input></td>
					</tr>
					<tr>
						<td>場次時間</td>
						<td><input class="easyui-textbox" type="text" name="time" data-options="required:true" style="width:250px;"></input></td>
					</tr>
					<tr>
						<td>電影院流水號</td>
						<td><input class="easyui-textbox" name="t_id" data-options="required:true" style="width:250px;"></input></td>
					</tr>
					<tr>
						<td>電影流水號</td>
						<td><input class="easyui-textbox" name="mo_id" data-options="required:true" style="width:250px;"></input></td>
					</tr>
					<tr>
		    			<td>日期</td>
		    			<td><input class="easyui-datebox" type="text" id="date1" name="date" data-options="required:true" style="width:250px;"></input></td>
		    		</tr>
					

				</table>
			</form>
			<div id="edituser_button" style="float:right;" >
		        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save('#form_edit')" style="width:90px">儲存</a>
		        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#edit_dialog').dialog('close')" style="width:90px">取消</a>
		    </div>
		</div>
	</div>
	<div id="insidelayout" class="easyui-layout" data-options="fit:true">
		<div data-options="region:'center',iconCls:'icon-ok'">
		    <table id="dg" class="easyui-datagrid" style="width:100%;"
			toolbar="#toolbar"  idField="id"  rownumbers="true"  fitColumns="true" singleSelect="true" pagination="true"
			data-options="url:'{:U('Session/session_r')}',method:'get',pageNumber:'1',pageSize:'20' ,pageList:[20,40,60],total:60">
					<thead>
					<tr>
						<th field="theater_name" width="50" editor="text">電影院</th>
						<th field="movie_name" width="50" editor="text">電影名稱</th>
						<th field="time" width="50" editor="{type:'validatebox',options:{required:true}}">場次時間</th>
						<th field="date" width="50" editor="{type:'validatebox',options:{required:true}}">日期</th>
						<th field="t_id" width="50" data-options="hidden:true" editor="text">t_id</th>
						<th field="s_id" width="50" data-options="hidden:true" editor="text">s_id</th>
						<th field="mo_id" width="50" data-options="hidden:true" editor="text">mo_id</th>
						
					</tr>
				</thead>
			</table>
		</div>
	    <div id="toolbar">
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="appendOpen()">新增</a>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyRow()">刪除</a>
	        <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').        edatagrid('saveRow')">儲存</a>-->
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="edit_session()">編輯</a>
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="searchOpen()">搜尋場次</a>
	    </div>
    </div>
    <script type="text/javascript">
    	$(document).ready(function(){
	      	$("#date").datebox({
		        formatter:function(date){
		            var y=date.getFullYear();
		            var m=date.getMonth()+1;
		            var d=date.getDate();
		            return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);       
		        },
		        parser:function(s){
			        var t=Date.parse(s);
			        if (!isNaN(t)) {return new Date(t);}
			        else {return new Date();}
			    }     
	    	});
	    	$("#date1").datebox({
		        formatter:function(date){
		            var y=date.getFullYear();
		            var m=date.getMonth()+1;
		            var d=date.getDate();
		            return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);       
		        },
		        parser:function(s){
			        var t=Date.parse(s);
			        if (!isNaN(t)) {return new Date(t);}
			        else {return new Date();}
			    }     
	    	});
	    });
	    function searchOpen()
		{
			//close other dialog
			$('#store').dialog('close');
			$('#dlg').dialog('close');
			$('#edit_dialog').dialog('close');
			$('#insidelayout').layout('remove', 'east');
			//begin search
			$('#insidelayout').layout('add',{
				region: 'east',
				width: 380,
				title: '搜尋表',
				split: true,
				content:'<form id="searchform" style="padding:20px;font-size:20px;"method="post"><table cellpadding="20"><tr><td>電影名稱</td><td><input class="easyui-textbox" type="text" id="movie_name" name="movie_name" value="多拉A夢"  style="width:200px;"></input></td></tr><tr><td>場次時間</td><td><input class="easyui-textbox" type="validatebox" id="time" name="time" style="width:200px;"></input></td></tr><tr><td>日期</td><td><input class="easyui-textbox" type="text" id="searchdate" name="searchdate" value="2016-03-30"  style="width:200px;"></input></td></tr><tr><td></td><td style="float:right;"><div href="#" class="easyui-linkbutton c5"  style=width:60px onclick="Dosearch()">搜尋</div><div href="#" class="easyui-linkbutton"  style=width:60px onclick="formclear()">清除</div></td></tr></table></form>'
			});
		}
		function Dosearch(){
			var movie_name = $('#movie_name').textbox('getText')
			var time = $('#time').textbox('getText')
			var date = $('#searchdate').textbox('getText')

			$('#dg').datagrid('load', {
                movie_name: '%' + movie_name + '%',
                time: '%' + time + '%',
                date: '%' + date + '%',

            });
		}
		function formclear()
		{
			$('#searchform').form('clear');
			$('#dg').datagrid('load', {
                movie_name: '',
                time:'',
                date:'',
            });
		}
    	function edit_session(){
			var row = $('#dg').datagrid('getSelected');
			if(row){
    			//close other dialog
				$('#dlg').dialog('close');
				//begin edit
				$('#edit_dialog').dialog('open');
				$('#form_edit').form('load',row);
				url = "{:U('session/edit_c')}?s_id=" + row.s_id;
			}
			else{
        		$.messager.alert('訊息','請選擇一個欄位');
        	}
		}
		function save(form){
			$(form).form('submit',{
                url: url,
                success: function(result){
                    $('#edit_dialog').dialog('close');
                    $('#dg').datagrid('reload');
                }
            });
		}
		function appendOpen(){
			//close other dialog
			$('#edit_dialog').dialog('close');
			//begin append
			$('#dlg').dialog('open');
		}
        function append(){
        	$('#sessionform').form('submit',{
	            onSubmit: function(){
	            	if( $('#sessionform').form('validate')==false){
	            		$.messager.confirm('警告','紅色欄位為必要欄位!!',function(r){
						    if (r){
						        $('#dlg').dialog('open');
						    }
						});
	            	}
	            	else{
	            		/*append_forDB();*/
	            		$.ajax({
			                url: "{:U('session/append_c')}",
			                data:$('#sessionform').serialize(),
			                type:"POST",
			                dataType:'text',
			                
			                success: function(result){

			                    result = JSON.parse(result);
			                    if (result==true) {
			                    	$.messager.alert('訊息','成功新增資料');
			                    	$('#dg').datagrid('reload');
			                    } 
			                },
			                 error:function(result){ 
			                     console.log(result);
			                }
			        	});
	            		$('#sessionform').form('clear'); 
	            		return $('#sessionform').form('validate');
	            	}             
	            }
            });	
        }
   /*     	var name = $('#name').val()
        	var theater_name = $('#theater_name').val()
        	var session = $('#session').val()
        	var type = $('#type').val()
        	var price = $('#price').val()
        	var size = $('#size').val()

        	if(name==''||theater_name==''||session==''||type==''||price==''||size==''){
        		$.messager.confirm('Confirm','紅色欄位為必要欄位!!',function(r){
				    if (r){
				        $('#dlg').dialog('open');
				    }
				});
        	}else {
	        	$('#dg').datagrid('appendRow',{
					name: name,
					theater_name: theater_name,
					session: session,
					type: type,
					price: price,
					size: size
				});

				$('#dlg').dialog('close');
				$('#sessionform').form('clear');
        	}*/

        function destroyRow(){
        	var row=$('#dg').datagrid('getSelected');
        	if(row){
        		$.messager.confirm('警告','確定要刪除此列',function(r){
        			if(r){
        				/*destroyRow_forDB()*/
        				$.ajax({
			                url:"{:U('session/destroyRow_c')}",
                            data:{
                                delete_s_id:row.s_id
                            },
                            type:"POST",
                            async:false,
			                success: function(result){
			                    result = JSON.parse(result);
			                    if (result==true) {
			                    	$.messager.alert('訊息','成功刪除資料');
			                    	$('#dg').datagrid('reload');
			                    }
			                },
			                error:function(result){ 
			                     console.log(result);
			                }
			        	});

        			}

        		});
        	}
        	else{
        		$.messager.alert('訊息','請選擇一個欄位');
        	}
        }
    </script>
    
</body>
</html>