<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Build CRUD DataGrid with jQuery EasyUI - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/include/easyui.1.4.3/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/include/easyui.1.4.3/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/include/easyui.1.4.3/themes/color.css">
	<script type="text/javascript" src="__PUBLIC__/include/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/include/easyui.1.4.3/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/include/easyui.1.4.3/jquery.edatagrid.js"></script>
</head>
<style type="text/css">
	body{
		margin:0px;
	}
</style>
<body>
    <div id="dlg" class="easyui-dialog" title="新增電影院資訊" closed="true" style="width:450px;height:400px;padding:10px;"
		data-options="
			buttons: [{
				text:'確定',
				iconCls:'icon-ok',
				handler:function(){
					append();
					$('#dlg').dialog('close');
				}
			},{
				text:'取消',
				iconCls:'icon-cancel',
				handler:function(){
					$('#dlg').dialog('close');
				}
			}]
		">
		<div style="padding:10px 30px 20px 30px">
		<form id="theaterform" method="post">
			<table cellpadding="5">
				<tr>
					<td>電影院</td>
					<td><input class="easyui-textbox" type="text" name="theater_name" data-options="required:true" style="width:250px;"></input></td>
				</tr>
				<tr>
					<td>地址</td>
					<td><input class="easyui-textbox" type="text" name="address" style="width:250px;"></input></td>
				</tr>
				<tr>
					<td>描述</td>
					<td><input class="easyui-textbox" name="description" data-options="required:true,multiline:true" style="width:250px;height:100px;"></input></td>
				</tr>
			</table>
		</form>
		</div>
	</div>
	<div id="edit_dialog" class="easyui-dialog" title="編輯電影院資訊" closed="true" style="width:450px;height:400px;padding:10px;left:304px;"
		buttons="#adduser_button">
		<div style="padding:10px 30px 20px 30px">
			<form id="form_edit" method="post" enctype="multipart/form-data">
				<table cellpadding="5">
					<tr>
						<td>電影院</td>
						<td><input class="easyui-textbox" type="text" name="theater_name" data-options="required:true" style="width:250px;"></input></td>
					</tr>
					<tr>
						<td>地址</td>
						<td><input class="easyui-textbox" type="text" name="address" style="width:250px;"></input></td>
					</tr>

					<tr>
						<td>描述</td>
						<td><input class="easyui-textbox" name="description" data-options="required:true,multiline:true" style="width:250px;height:100px;"></input></td>
					</tr>
				</table>
			</form>
			<div id="edituser_button" style="float:right;" >
		        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save('#form_edit')" style="width:90px">儲存</a>
		        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#edit_dialog').dialog('close')" style="width:90px">取消</a>
		    </div>
		</div>
	</div>
    <table id="dg" class="easyui-datagrid" style="width:100%;height:587px;"
	toolbar="#toolbar"  idField="id"  rownumbers="true" fitColumns="true" singleSelect="true" pagination="true"
	data-options="url:'{:U('Theater/theater_r')}',method:'get',pageNumber:'1',pageSize:'20' ,pageList:[20,40,60],total:60">
			<thead>
			<tr>
				<th field="theater_name" width="20" editor="{type:'validatebox',options:{required:true}}">電影院</th>
				<th field="address" width="40" editor="{type:'validatebox',options:{required:true}}">地址</th>
				<th field="description" width="100" editor="{type:'validatebox',options:{required:true}}">描述</th>
				<th field="t_id"  width="50" data-options="hidden:true" editor="text">t_id</th>
			</tr>
		</thead>
	</table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="appendOpen()">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyRow()">刪除</a>
        <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').        edatagrid('saveRow')">儲存</a>-->
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="edit_theater()">編輯</a>
    </div>
    <script type="text/javascript">
    	function edit_theater(){
			var row = $('#dg').datagrid('getSelected');
			if(row){
    			//close other dialog
				$('#dlg').dialog('close');
				//begin edit
				$('#edit_dialog').dialog('open');
				$('#form_edit').form('load',row);
				url = "{:U('theater/edit_c')}?t_id=" + row.t_id;
			}
			else{
        		$.messager.alert('訊息','請選擇一個欄位');
        	}
		}
		function save(form){
			$(form).form('submit',{
                url: url,
                success: function(result){
                    $('#edit_dialog').dialog('close');
                    $('#dg').datagrid('reload');
                }
            });
		}
		function appendOpen(){
			//close other dialog
			$('#edit_dialog').dialog('close');
			//begin append
			$('#dlg').dialog('open');
		}
        function append(){
        	$('#theaterform').form('submit',{
	            onSubmit: function(){
	            	if( $('#theaterform').form('validate')==false){
	            		$.messager.confirm('警告','紅色欄位為必要欄位!!',function(r){
						    if (r){
						        $('#dlg').dialog('open');
						    }
						});
	            	}
	            	else{
	            		/*append_forDB();*/
	            		$.ajax({
			                url: "{:U('theater/append_c')}",
			                data:$('#theaterform').serialize(),
			                type:"POST",
			                dataType:'text',
			                
			                success: function(result){

			                    result = JSON.parse(result);
			                    if (result==true) {
			                    	$.messager.alert('訊息','成功新增資料');
			                    	$('#dg').datagrid('reload');
			                    } 
			                },
			                 error:function(result){ 
			                     console.log(result);
			                }
			        	});
	            		$('#theaterform').form('clear'); 
	            		return $('#theaterform').form('validate');
	            	}             
	            }
            });	
        }
   /*     	var name = $('#name').val()
        	var theater_name = $('#theater_name').val()
        	var theater = $('#theater').val()
        	var type = $('#type').val()
        	var price = $('#price').val()
        	var size = $('#size').val()

        	if(name==''||theater_name==''||theater==''||type==''||price==''||size==''){
        		$.messager.confirm('Confirm','紅色欄位為必要欄位!!',function(r){
				    if (r){
				        $('#dlg').dialog('open');
				    }
				});
        	}else {
	        	$('#dg').datagrid('appendRow',{
					name: name,
					theater_name: theater_name,
					theater: theater,
					type: type,
					price: price,
					size: size
				});

				$('#dlg').dialog('close');
				$('#theaterform').form('clear');
        	}*/

        function destroyRow(){
        	var row=$('#dg').datagrid('getSelected');
        	if(row){
        		$.messager.confirm('警告','確定要刪除此列',function(r){
        			if(r){
        				/*destroyRow_forDB()*/
        				$.ajax({
			                url:"{:U('theater/destroyRow_c')}",
                            data:{
                                delete_t_id:row.t_id
                            },
                            type:"POST",
                            async:false,
			                success: function(result){
			                    result = JSON.parse(result);
			                    if (result==true) {
			                    	$.messager.alert('訊息','成功刪除資料');
			                    	$('#dg').datagrid('reload');
			                    }
			                },
			                error:function(result){ 
			                     console.log(result);
			                }
			        	});

        			}

        		});
        	}
        	else{
        		$.messager.alert('訊息','請選擇一個欄位');
        	}
        }
    </script>
    
</body>
</html>