<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="__PUBLIC__/js/modernizr.js"></script> <!-- Modernizr --> 
        <script src="__PUBLIC__/include/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="__PUBLIC__/include/jquery.mobile-1.4.5/css/jquery.mobile-1.4.5.css" />
        <script src="__PUBLIC__/include/jquery.mobile-1.4.5/js/jquery.mobile-1.4.5.js"></script>
        <link rel="stylesheet" href="__PUBLIC__/include/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="__PUBLIC__/css/reset.css"> <!-- CSS reset -->
        <link rel="stylesheet" href="__PUBLIC__/css/style.css"> <!-- Resource style -->
        <script src="__PUBLIC__/js/main.js"></script> <!-- Resource jQuery -->
        <!--Bootstrap-->
        <script src="__PUBLIC__/include/bootstrap/js/bootstrap.js"></script>
        <title>Ticket</title>
        <style>
            .cd-3d-nav a {
                font-size: 10px;
            }
            .ui-page-theme-a,body,
            .ui-page-theme-a .ui-panel-wrapper {

                background-color: #CCEEFF ;
                border-color:	#bbb;
                color: 	#333;
                text-shadow: 0  0px  0  ;
            }
            .form-control{
                font-size: 15px;
                background-color: rgba(52, 60, 85,1);
                color: #fff;
                border: : 1px outset;
            }
            .ui-btn {
                padding: 0px;
            }
            body{
                transition: background-color .8s ease-in-out;
                -moz-transition: background-color .8s ease-in-out;
                -webkit-transition: background-color .8s ease-in-out;
            }
            body{
                opacity: 0;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
            }
            body.visible {
                opacity: 1;
                transition: opacity .8s ease-in-out;
                -moz-transition: opacity .8s ease-in-out;
                -webkit-transition: opacity .8s ease-in-out;
            }
            .m_img{
                padding:0px;
            }
            .m_title{
                font-size:18px;
            }
            .m_content{
                font-size:9px;
                color: #ACA6AC;
                font-weight: lighter;
            }
            .site_btn{
                width:40%;
                font-weight:bold;
                font-size:16px;
                padding:8px;
                color:#FFF;
            }
        </style>
        <script>
            $(document).ready(function(){
                if(!$("#nav_user").attr('user')){
                    $('#message_btn').attr("onclick","location.href='{:U('index/index')}'");
                    $('#message').html("請登入");
                    $('#message_info').modal('show');
                    setTimeout("location.href='{:U('index/index')}'",1000);
                }else{
                    $('#message_info').css('display','none');
                }

                var send_android; 
                window.requestAnimationFrame(updateSelectedNav);
                $('body').toggleClass("visible");
                $(".nav_list").click(function(){
                    event.preventDefault();
                    // Sets the new destination to the href of the link
                    color = $(this).data("color");
                    $('body').css('background-color', "rgba(119,221,255,0.6)" );
                    $('body').css('opacity','0' );
                    setTimeout("location.href='{:U('index/"+this.id+"')}'",850);
                });
                //$('#A1').attr("bgcolor","red");

                $(".list").click(function(){
                    var ot_id = $(this).attr('otId');
                    $('.cd-3d-nav-trigger-user').trigger('click');
                    $('#send_title').empty();
                    $('#send_title').append($(this).find('.movie').html());
                    for (var i=1 ; i<11 ; i++)
                    {
                        $("#A"+i).attr("bgcolor","#696969");
                        $("#B"+i).attr("bgcolor","#696969");
                        $("#C"+i).attr("bgcolor","#696969");
                        $("#D"+i).attr("bgcolor","#696969");
                        $("#E"+i).attr("bgcolor","#696969");
                        $("#F"+i).attr("bgcolor","#696969");
                        $("#G"+i).attr("bgcolor","#696969");
                        $("#H"+i).attr("bgcolor","#696969");
                        $("#I"+i).attr("bgcolor","#696969");
                        $("#J"+i).attr("bgcolor","#696969");
                    }
                    //get ticket json
                    $.ajax({
                            url:"{:U('Ticket/get_ticket')}",
                            data:{
                                ot_id:ot_id
                            },
                            type:"POST",
                            async:false,
                            success:function(result){
                                send_android = JSON.stringify(result[0]);
                                console.log(send_android);
                                //show order_t seat
                                var seat = result[0]['seat'].split("-");
                                for(var i=0;i<seat.length;i++)
                                {
                                    $("#"+seat[i]).attr("bgcolor","red");
                                }
                            }
                        });
                    $.mobile.changePage("#myModal", { transition: "pop",role: "dialog" });  
                });
                $("#send").click(function(){
                    window.demo.clickOnAndroid(send_android);
                });
            });
            function ticket_return (ot_id,m_id){
                $.ajax({
                    url:"{:U('Ticket/ticket_return')}",
                    data:{
                        ot_id:ot_id,
                        m_id:m_id
                    },
                    type:"POST",
                    async:false,
                    success:function(result){
                        if(result) {
                            setTimeout("location.href='{:U('index/ticket')}'",850);
                        }
                    }
                });
            }
            function food_return(of_id,m_id){
                $.ajax({
                    url:"{:U('Ticket/food_return')}",
                    data:{
                        of_id:of_id,
                        m_id:m_id
                    },
                    type:"POST",
                    async:false,
                    success:function(result){
                        if(result) {
                            setTimeout("location.href='{:U('index/ticket')}'",850);
                        }
                    }
                });
            }
        </script>
    </head>
    <body>
    
        <div id="order_t" data-role="page">
            <header class="cd-header navbar-fixed-top" > 
                <a href="#0" class="cd-3d-nav-trigger " >
                    <img src="__PUBLIC__/images/icon-user.svg" style="width:100%;height:100%;">
                    <span></span>
                </a>
                <a href="{:U('index/index')}" class="cd-3d-nav-trigger-home " data-ajax="false" >
                    <img src="__PUBLIC__/images/icon-home.svg" style="width:100%;height:100%;">
                </a>

            </header> <!-- .cd-header -->
            <nav class="cd-3d-nav-container navbar-fixed-top">
                <ul class="cd-3d-nav">
                    <li>
                        <a class="nav_list" id="order_t" data-color="#4FE29E" >訂票去</a>
                    </li>

                    <li>
                        <a class="nav_list" id="order" data-color="#4FE29E">訂餐去</a>
                    </li>

                    <li id="nav_user" user="{$auth.email}">
                        <a class="nav_list" id="member" data-color="#485274" >{$auth.name}</a>
                    </li>

                    <li class="cd-selected">
                        <a class="nav_list" id="ticket" data-color="#4FE29E" >My票卷</a>
                    </li>

                    <li>
                        <a class="nav_list" id="discount" data-color="#4FE29E">優惠券</a>
                    </li>
                </ul> <!-- .cd-3d-nav -->
                <span class="cd-marker color-4"></span> 
            </nav> <!-- .cd-3d-nav-container -->
            <!--Main-->
            <main>
                <div class="ui-content" style="position: relative;top: 80px;">
                    <div  class="content next">
                        <ul data-role="listview" data-inset="true" >
                        <div data-role="tabs" id="tabs">
                            <div data-role="navbar">
                                <ul>
                                    <li><a href="#one" data-ajax="false" class="ui-tabs-anchor ui-btn-active" style="font-size: 20px;padding-top: 10px;padding-bottom: 10px;">我的票券</a></li>
                                    <li><a href="#two" data-ajax="false" style="font-size: 20px;padding-top: 10px;padding-bottom: 10px;">我的訂餐</a></li>
                                    <li><a href="#three" data-ajax="false" style="font-size: 20px;padding-top: 10px;padding-bottom: 10px;">歷史紀錄</a></li>
                                </ul>
                            </div>
                            <!-- 我的票券 -->

                            
                            <div id="one" class="ui-body-d ui-content" style="position: relative;overflow-y:hidden;background-color: white" aria-expanded="true"  >
                                <if condition="$result == 1" >
                                    <volist name="ticket" id="data">
                                        <li data-icon="false" style="background-color: white">
                                            <div style="display: inline-flex;" > 
                                                <a href="#" class="list" otId="{$data.ot_id}" style="padding:0px 0px 1px;margin-left: 0px;margin-right:-20px";>
                                                    <div class=" col-xs-4 m_img" ><img style="  vertical-align: middle" class=" img-responsive" src="__PUBLIC__/images/{$data.mo_id}.jpg"></div>
                                                    <div class="col-xs-8">
                                                        <!-- 電影名稱 -->
                                                        <div class="m_title" style="text-align:center; font-family:微軟正黑體; font-size:18px;">{$data.theater_name}</div>
                                                        <div class="m_content" style="font-family:微軟正黑體; font-size:13px; color:#000; padding:10px;margin-left: -20px">
                                                            <h3 class="movie">片名: {$data.movie_name} </h3>
                                                            <h3>場次日期: {$data.date} </h3>
                                                            <h3>場次時間: {$data.time} </h3>
                                                            <h3>人數: {$data.quantity} </h3> 
                                                            <h3 seatId="{$data.seat}">場次位置: {$data.seat}</h3>
                                                            <h3>票價: {$data.cost} </h3>
                                                        </div>
                                                    </div> 
                                                </a>
                                                <div style="padding-top: 30px;height:100px;padding-right: 2px">
                                                     <button style="width:100%;height: 70px;background-color: rgba(255, 0, 0, 0.73);color: #FFFFFF;" onclick="ticket_return({$data.ot_id},{$data.m_id});">退票</button>
                                                </div>
                                            </div>
                                        </li>
                                        <div style="opacity: 0">.</div>
                                    </volist>
                                <else/>
                                <li data-icon="false" > 
                                    <div class="m_title" style="text-align:center; font-family:微軟正黑體; font-size:24px; color:#B20000;">您尚未購買票劵！</div> </br></br>
                                    <div style="text-align:center;">
                                        <a id="sign_out"  class="btn btn-primary" style="width:40%;font-weight:bold;font-size:20px;padding:8px; color:#FFF;" onClick="location.href='{:U('index/order_t')}'">前往訂票</a>
                                    </div>
                                </li>
                                </if>
                            </div>

                            <div id="two" class="ui-body-d ui-content" style="display: block;height: 550px;background-color: white"aria-expanded="true" aria-hidden="false">
                                <if condition="$food_result == 1">

                                   
                                    <li data-icon="false" style="background-color: white" >

                                        <!-- volist name="orderfoodrecord" id="data" -->

                                     <div class="panel-group" id="option_list">
                                        <volist name="food_number" id="title">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">       
                                                    <a data-toggle="collapse" data-parent="#option_list" href="#collapse{$title.ot_id}" style="outline: none ;" >
                                                        <h4 class="panel-title" style="color: black;"> 訂單編號:{$title.ot_id}</h4>
                                                    </a>    
                                                </div>
                                                <div id="collapse{$title.ot_id}" class="panel-collapse collapse " style="padding-top: 20px;padding-bottom: 15px">
                                                <div class="m_title" style="text-align:center; font-family:微軟正黑體; font-size:26px;color: #0066FF;padding-bottom: 5px; ">{$title.theater_name}</div>
                                                    <!-- <if condition="$result == 1" > -->
                                                        <volist name="orderfoodrecord" id="data">
                                                        <if condition="($data['ot_id']) eq ($title['ot_id'])" > 
                                                            <ul data-icon="false" style="background-color: white">
                                                                <div style="display: inline-flex;"> 
                                                                   
                                                                        <div class=" col-xs-4 m_img" ><img style="  vertical-align: middle" class=" img-responsive" src="__PUBLIC__/images/{$data.food_name}.png"></div>
                                                                        <div class="col-xs-8">
                                                                            <!-- 電影名稱 -->
                                                                          
                                                                            <div class="m_content" style="font-family:微軟正黑體; font-size:16px; color:#000; padding:10px;">
                                                                                <h3 class="movie">食物: {$data.food} </h3>
                                                                                <h3 class="movie">數量: {$data.food_quantity} </h3>
                                                                                <h3 class="movie">大小: {$data.food_size} </h3>
                                                                                <h3 class="movie">總價: {$data.food_cost} </h3>
                                                                                <h3 class="movie">折扣: {$data.discount_money} </h3>                     
                                                                            </div>
                                                                        </div> 
                                                                   
                                                                  
                                                                </div>
                                                            </ul>
                                                         
                                                            </if>
                                                        </volist>
                                                    <!-- <else/>
                                                    <li data-icon="false" > 
                                                        <div class="m_title" style="text-align:center; font-family:微軟正黑體; font-size:24px; color:#B20000;">您尚未購買票劵！</div> </br></br>
                                                        <div style="text-align:center;">
                                                            <a id="sign_out"  class="btn btn-primary" style="width:40%;font-weight:bold;font-size:20px;padding:8px; color:#FFF;" onClick="location.href='{:U('index/order_t')}'">前往訂票</a>
                                                        </div>
                                                    </li>
                                                    </if> -->
                                                </div>
                                            </div>
                                        </volist>
                                        

                                      <!--   <div style="display: inline-flex;"> 
                                            <div style="padding:0px 0px 1px;width:100%;margin-left: 0px;margin-right:-20px";>
                                                <div class=" col-xs-4 m_img" ><img class=" img-responsive" src="__PUBLIC__/images/{$data.food}.png"></div>
                                                <div class="col-xs-8">
                                                    <div class="m_title" style="text-align:center; font-family:微軟正黑體; font-size:16px;">{$data.name}</div>
                                                    <div class="m_content" style="font-family:微軟正黑體; font-size:13px; color:#000; padding:10px;margin-left: -20px">
                                                        <h3 class="movie">會員手機: {$data.phone} </h3>  
                                                        <h3>電影院: {$data.theater_name} </h3>
                                                        <h3>電影名稱: {$data.movie_name} </h3>
                                                        <h3>食物名稱: {$data.food} </h3>
                                                        <h3>數量: {$data.food_quantity} </h3>
                                                        <h3>大小: {$data.food_size} </h3>
                                                        <h3>總價: {$data.food_cost} </h3>
                                                    </div>
                                                </div> 
                                            </div>
                                            <div style="padding-top: 30px;height:200px;padding-right:2px">
                                                 <button  style="width:100%;height: 40%;background-color: rgba(255, 0, 0, 0.73);color: #FFFFFF;" onclick="food_return({$data.of_id},{$data.m_id});">退餐</button>
                                            </div>
                                        </div> -->
                                        
                                          <!-- /volist -->
                                     </div>
                                    </li>
                                    <div style="opacity: 0">.</div>
                                   
                                <else/>
                                <li data-icon="false" > 
                                    <div class="m_title" style="text-align:center; font-family:微軟正黑體; font-size:24px; color:#B20000;">您尚未購買餐點！</div> </br></br>
                                    <div style="text-align:center;">
                                        <a id="sign_out"  class="btn btn-primary" style="width:40%;font-weight:bold;font-size:20px;padding:8px; color:#FFF;" onClick="location.href='{:U('index/order')}'">前往訂餐</a>
                                    </div>
                                </li>
                                </if>
                            </div>
                            <div id="three" class="ui-body-d ui-content" style="position: relative;overflow-y:hidden;background-color: white" aria-expanded="true"  >
                                <if condition="$result == 1" >
                                   <!--  <volist name="ticket" id="data">
                                        <li data-icon="false" style="background-color:  #DCDCDC ;">
                                            <div style="display: inline-flex;"> 
                                                <div  class="list"  style="padding:0px 0px 1px;margin-left: 0px;margin-right:-20px";>
                                                 
                                                    <div >
                                                        
                                                        
                                                        <div class="m_title" style="text-align:center; font-family:微軟正黑體; font-size:18px;">{$data.theater_name}</div>

                                                        <div class="m_content" style="font-family:微軟正黑體; font-size:16px; color:#000; padding:10px;">
                                                            <h3 class="movie">片名: {$data.movie_name} </h3>
                                                            <h3>場次日期 時間: {$data.date} , {$data.time} </h3>
                                                            <h3 seatId="{$data.seat}">場次位置: {$data.seat}</h3>
                                                        </div>
                                                    </div> 
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <div style="opacity: 0;font-size: 0.1px">.</div>
                                    </volist> -->
                                    <li data-icon="false" style="background-color: white" >
                                    <!-- volist  -->
                                        <div class="panel-group" id="option_list">
                                            <volist name="history_title" id="title">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">       
                                                        <a data-toggle="collapse" data-parent="#option_list" href="#history{$title.t_id}" style="outline: none ;" >
                                                            <h4 class="panel-title" style="color: black; text-align: center;">{$title.theater_name}</h4>
                                                        </a>    
                                                    </div>
                                                    <div id="history{$title.t_id}" class="panel-collapse collapse " style="padding-top: 20px;padding-bottom: 15px">
                                                        <div class="m_title" style="text-align:center; font-family:微軟正黑體; font-size:18px;">{$title.theater_name}</div>
                                                        <volist name="ticket" id="data">
                                                        <if condition="($data['t_id']) eq ($title['t_id'])" > 
                                                            <ul data-icon="false" style="background-color: white">
                                                                <div style="display: inline-flex;"> 
                                                                    <a href="#" class="list" otId="{$data.ot_id}" style="padding:0px 0px 1px;margin-left: 0px;margin-right:-20px";>
                                                                        <div class="m_content" style="font-family:微軟正黑體; font-size:16px; color:#000; padding:10px;">
                                                                            <h3 class="movie">片名: {$data.movie_name} </h3>
                                                                            <h3>場次日期 時間: {$data.date} , {$data.time} </h3>
                                                                            <h3 seatId="{$data.seat}">場次位置: {$data.seat}</h3>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </ul>
                                                        </if>
                                                        </volist>
                                                    </div>
                                                </div>
                                            </volist>
                                        </div>
                                    </li>
                                <else/>
                                <li data-icon="false" > 
                                    <div class="m_title" style="text-align:center; font-family:微軟正黑體; font-size:24px; color:#B20000;">無歷史紀錄</div> </br></br>

                                </li>
                                </if>
                            </div>
                            


                        </ul>
                    </div>
                </div>

            </main>
            </div>
            <!-- 感應付款 -->
            <div data-role="dialog" id="myModal" style="top: 10%;">
                <div id="header" data-role="header" style="height: 40px;">
                   <h1 id="send_title" class="d_title"></h1>
                </div>
                <div id="content" data-role="content"style="text-align:center; color:white;">
                    <table class="table table-bordered" >
                        <tr>
                            <for start="1" end="11" step="1">                            
                                <td id="A{$i}" bgcolor="#696969" style="padding:2px;">A{$i}</td>               
                            </for>
                        </tr>
                        <tr>
                            <for start="1" end="11" step="1">                            
                                <td id="B{$i}" bgcolor="#696969" style="padding:2px;">B{$i}</td>               
                            </for>
                        </tr>
                        <tr>
                            <for start="1" end="11" step="1">                            
                                <td id="C{$i}" bgcolor="#696969" style="padding:2px;">C{$i}</td>
                            </for>
                        </tr>
                        <tr>
                            <for start="1" end="11" step="1">
                                <if condition=" (($i == 9)||($i == 10))"> 
                                    <td bgcolor="FFFFFF" style="padding:2px;">　</td>      
                                <else/>
                                    <td id="D{$i}" bgcolor="#696969" style="padding:2px;">D{$i}</td> 
                                </if>              
                            </for>
                        </tr>
                        <tr>
                            <for start="1" end="11" step="1">                            
                                <td id="E{$i}" bgcolor="#696969" style="padding:2px;">E{$i}</td>               
                            </for>
                        </tr>
                        <tr>
                            <for start="1" end="11" step="1">                            
                                <td id="F{$i}" bgcolor="#696969" style="padding:2px;">F{$i}</td>               
                            </for>
                        </tr>
                        <tr>
                            <for start="1" end="11" step="1">                            
                                <td id="G{$i}" bgcolor="#696969" style="padding:2px;">G{$i}</td>               
                            </for>
                        </tr>
                        <tr>
                            <for start="1" end="11" step="1">                            
                                <td id="H{$i}" bgcolor="#696969" style="padding:2px;">H{$i}</td>               
                            </for>
                        </tr>
                        <tr>
                            <for start="1" end="11" step="1">                            
                                <td id="I{$i}" bgcolor="#696969" style="padding:2px;">I{$i}</td>               
                            </for>
                        </tr>
                        <tr>
                            <for start="1" end="11" step="1">                            
                                <if condition=" (($i == 3)||($i == 4)||($i == 7)||($i == 8))"> 
                                    <td bgcolor="FFFFFF" style="padding:2px;">　</td>      
                                <else/>
                                    <td id="J{$i}" bgcolor="#696969" style="padding:2px;">J{$i}</td> 
                                </if>                
                            </for>
                        </tr>
                    </table>
                    <button id="send" style="height:50px;">感應位置</button>
                </div>
            </div>
        </div>
        <div class="modal-dialog" id="message_info" style="width:300px;padding-top: 10%;margin: auto">
            <div class="modal-content" style="text-align:center; font-family:微軟正黑體; font-size:16px;  font-weight:bold;">
                <div class="modal-header" style="background-color: #FFB01C">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: auto;"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">訊　息</h4>
                </div>
                <div class="modal-body">
                    </br>
                    <div id="message" style="font-size:20px;"></div>
                    </br>       
                </div>
                <div class="modal-footer" style="text-align:center;">
                    
                    <button id="message_btn" type="button" class="btn btn-default" data-dismiss="modal" style="width:47%;" onclick="">確認</button>
                </div>
            </div>
        </div>
    </body>
</html>
